.clearfix, .grid{
	&::before, &::after{
		content: "";
		display: table;
	}

	&::after{
		clear: both;
	}
}

.site-with{
	max-width: $site-width;
}

.ac{
	text-align: center;	
}

.ma{
	margin: auto;
}
